{% doc %}
  Renders a featured category card.

  @param {object} [block] - Section block object
  @param {string} [fallback_image] - Fallback image asset filename
  @param {string} [fallback_title] - Fallback title
  @param {string} [fallback_link] - Fallback URL
{% enddoc %}

{%- liquid
  assign category_collection = blank
  assign category_title = fallback_title | default: 'Featured category'
  assign category_url = fallback_link | default: '#.'

  if block != blank
    assign category_collection = block.settings.collection
    assign category_title = block.settings.title
    if category_title == blank and category_collection != blank
      assign category_title = category_collection.title
    endif
    if category_title == blank
      assign category_title = fallback_title | default: 'Featured category'
    endif

    assign category_url = block.settings.link
    if category_url == blank and category_collection != blank
      assign category_url = category_collection.url
    endif
    if category_url == blank
      assign category_url = fallback_link | default: '#.'
    endif
  endif
-%}

<div class="col-md-4" {% if block != blank %}{{ block.shopify_attributes }}{% endif %}>
  <div class="some-cate">
    {% if block != blank and block.settings.image != blank %}
      <div class="featured-category-card__media">
        {{ block.settings.image | image_url: width: 220 | image_tag: alt: category_title, loading: 'lazy' }}
      </div>
    {% elsif category_collection != blank and category_collection.featured_image != blank %}
      <div class="featured-category-card__media">
        {{ category_collection.featured_image | image_url: width: 220 | image_tag: alt: category_title, loading: 'lazy' }}
      </div>
    {% elsif fallback_image != blank %}
      <div class="featured-category-card__media">
        <img src="{{ fallback_image | asset_url }}" alt="{{ category_title | escape }}" loading="lazy" width="220" height="220">
      </div>
    {% endif %}
    <h5>{{ category_title }}</h5>
    <ul>
      {% if block != blank and block.settings.menu != blank and block.settings.menu.links.size > 0 %}
        {% for link in block.settings.menu.links limit: 4 %}
          <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
      {% elsif category_collection != blank and category_collection.products_count > 0 %}
        {% for product in category_collection.products limit: 4 %}
          <li><a href="{{ product.url }}">{{ product.title | escape }}</a></li>
        {% endfor %}
      {% endif %}
      <li><a href="{{ category_url }}"> View all <i class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</div>

{% stylesheet %}
  .some-cate {
    overflow: hidden;
    min-height: 165px;
  }

  .some-cate .featured-category-card__media {
    position: absolute;
    right: 16px;
    bottom: 0;
    width: min(42%, 190px);
    max-height: calc(100% - 12px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
  }

  .some-cate .featured-category-card__media img {
    position: static;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }

  .some-cate h5,
  .some-cate ul {
    position: relative;
    z-index: 1;
    max-width: 58%;
  }

  @media screen and (max-width: 991px) {
    .some-cate .featured-category-card__media {
      width: min(38%, 170px);
    }
  }

  @media screen and (max-width: 767px) {
    .some-cate {
      min-height: 180px;
    }

    .some-cate h5,
    .some-cate ul {
      max-width: 52%;
    }

    .some-cate .featured-category-card__media {
      width: min(44%, 160px);
      right: 10px;
    }
  }
{% endstylesheet %}
