{% doc %}
  Template-style product card that mirrors html/index.html card markup.

  @param {object} product - Product object
{% enddoc %}

<div class="product">
  <article>
    {% if product.featured_image %}
      {{ product.featured_image | image_url: width: 720 | image_tag: class: 'img-responsive', alt: product.title | escape }}
    {% endif %}

    {% if product.compare_at_price > product.price %}
      {%- liquid
        assign discount = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round
      -%}
      <span class="sale-tag">-{{ discount }}%</span>
    {% endif %}

    {% if product.available and product.compare_at_price <= product.price %}
      <span class="new-tag">New</span>
    {% endif %}

    <span class="tag">{{ product.type | default: product.vendor | escape }}</span>
    <a href="{{ product.url }}" class="tittle">{{ product.title | escape }}</a>
    <p class="rev">
      <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
      <span class="margin-left-10">5 Review(s)</span>
    </p>
    <div class="price">
      {{ product.price | money }}
      {% if product.compare_at_price > product.price %}
        <span>{{ product.compare_at_price | money }}</span>
      {% endif %}
    </div>
    <a href="{{ product.url }}" class="cart-btn"><i class="icon-basket-loaded"></i></a>
  </article>
</div>
