    <!-- Featured Categories -->
    <section class="light-gry-bg padding-top-60 padding-bottom-30">
      <div class="container"> 
        
        <!-- heading -->
        <div class="heading">
          <h2>Featured Categories</h2>
          <hr>
        </div>
        <div class="row"> 
          
          <!-- TV & Audios -->
          <div class="col-md-4">
            <div class="some-cate"> <img src="{{ 'feture-item-1.png' | asset_url }}" alt="">
              <h5>TV & Audios</h5>
              <ul>
                <li><a href="#."> Smart Television</a></li>
                <li><a href="#."> QLED TV</a></li>
                <li><a href="#."> Audios</a></li>
                <li><a href="#."> Headphones</a></li>
                <li><a href="#."> View all <i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
          
          <!-- SmartPhones -->
          <div class="col-md-4">
            <div class="some-cate"> <img src="{{ 'feture-item-2.png' | asset_url }}" alt="">
              <h5>SmartPhones</h5>
              <ul>
                <li><a href="#."> Smart Television</a></li>
                <li><a href="#."> QLED TV</a></li>
                <li><a href="#."> Audios</a></li>
                <li><a href="#."> Headphones</a></li>
                <li><a href="#."> View all <i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
          
          <!-- Game Console -->
          <div class="col-md-4">
            <div class="some-cate"> <img src="{{ 'feture-item-3.png' | asset_url }}" alt="">
              <h5>Game Console</h5>
              <ul>
                <li><a href="#."> Smart Television</a></li>
                <li><a href="#."> QLED TV</a></li>
                <li><a href="#."> Audios</a></li>
                <li><a href="#."> Headphones</a></li>
                <li><a href="#."> View all <i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row"> 
          
          <!-- Desktop & Laptop -->
          <div class="col-md-4">
            <div class="some-cate"> <img src="{{ 'feture-item-4.png' | asset_url }}" alt="">
              <h5>Desktop & Laptop</h5>
              <ul>
                <li><a href="#."> Smart Television</a></li>
                <li><a href="#."> QLED TV</a></li>
                <li><a href="#."> Audios</a></li>
                <li><a href="#."> Headphones</a></li>
                <li><a href="#."> View all <i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
          
          <!-- Watches -->
          <div class="col-md-4">
            <div class="some-cate"> <img src="{{ 'feture-item-5.png' | asset_url }}" alt="">
              <h5>Watches</h5>
              <ul>
                <li><a href="#."> Smart Television</a></li>
                <li><a href="#."> QLED TV</a></li>
                <li><a href="#."> Audios</a></li>
                <li><a href="#."> Headphones</a></li>
                <li><a href="#."> View all <i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
          
          <!-- Accessories -->
          <div class="col-md-4">
            <div class="some-cate"> <img src="{{ 'feture-item-6.png' | asset_url }}" alt="">
              <h5>Accessories</h5>
              <ul>
                <li><a href="#."> Smart Television</a></li>
                <li><a href="#."> QLED TV</a></li>
                <li><a href="#."> Audios</a></li>
                <li><a href="#."> Headphones</a></li>
                <li><a href="#."> View all <i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% schema %}
{
  "name": "Featured Categories Grid",
  "settings": [],
  "presets": [
    {
      "name": "Featured Categories Grid"
    }
  ]
}
{% endschema %}
