{%- liquid
  assign top_links_menu = section.settings.top_links_menu
  assign categories_menu = section.settings.categories_menu
  assign main_menu = section.settings.main_menu
-%}

<!-- Top bar -->
<div class="top-bar">
  <div class="container">
    <p>{{ section.settings.top_message }}</p>
    <div class="right-sec">
      <ul>
        {% if top_links_menu != blank and top_links_menu.links.size > 0 %}
          {% for link in top_links_menu.links %}
            <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
          {% endfor %}
        {% endif %}
        <li>
          <select class="selectpicker">
            <option>French</option>
            <option>German</option>
            <option>Italian</option>
            <option>Japanese</option>
          </select>
        </li>
        <li>
          <select class="selectpicker">
            <option>(USD)Dollar</option>
            <option>GBP</option>
            <option>Euro</option>
            <option>JPY</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Header -->
<header class="header-style-5">
  <div class="container">
    <div class="logo">
      <a href="{{ routes.root_url }}">
        {% if settings.logo != blank %}
          {{ settings.logo | image_url: width: 320 | image_tag: alt: shop.name, loading: 'eager' }}
        {% else %}
          <img src="{{ 'logo-9.png' | asset_url }}" alt="{{ shop.name | escape }}">
        {% endif %}
      </a>
    </div>
    <div class="go-right">
      <span class="call-mun"><i class="fa fa-phone"></i> <strong>{{ settings.hotline_label | default: 'Hotline' }}:</strong><br>
      {{ settings.hotline_text | default: '(+100) 123 456 7890' }}</span>

      <!-- search -->
      <div class="search-cate">
        <form action="{{ routes.search_url }}" method="get" role="search">
          <select class="selectpicker" aria-label="Search category">
            <option> All Categories</option>
            {% if categories_menu != blank and categories_menu.links.size > 0 %}
              {% for link in categories_menu.links %}
                <option>{{ link.title }}</option>
              {% endfor %}
            {% endif %}
          </select>
          <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ section.settings.search_placeholder }}">
          <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
        </form>
      </div>

      <!-- Cart Part -->
      <ul class="nav navbar-right cart-pop">
        <li class="dropdown">
          <a href="{{ routes.cart_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="itm-cont">{{ cart.item_count }}</span> <i class="flaticon-shopping-bag"></i> <strong>{{ section.settings.cart_label }}</strong> <br>
            <span>{{ cart.item_count }} item(s) - {{ cart.total_price | money }}</span></a>
          <ul class="dropdown-menu">
            {% if cart.item_count > 0 %}
              {% for item in cart.items limit: 2 %}
                <li>
                  <div class="media-left">
                    <a href="{{ item.url }}" class="thumb">
                      {% if item.image %}
                        {{ item.image | image_url: width: 160 | image_tag: class: 'img-responsive', alt: item.product.title | escape }}
                      {% else %}
                        <img src="{{ 'item-img-1-1.jpg' | asset_url }}" class="img-responsive" alt="{{ item.product.title | escape }}">
                      {% endif %}
                    </a>
                  </div>
                  <div class="media-body"> <a href="{{ item.url }}" class="tittle">{{ item.product.title | escape }}</a> <span>{{ item.final_price | money }} x {{ item.quantity }}</span> </div>
                </li>
              {% endfor %}
            {% else %}
              <li>
                <div class="media-left"> <a href="#." class="thumb"> <img src="{{ 'item-img-1-1.jpg' | asset_url }}" class="img-responsive" alt=""> </a> </div>
                <div class="media-body"> <a href="#." class="tittle">Funda Para Ebook 7" 128GB full HD</a> <span>250 x 1</span> </div>
              </li>
              <li>
                <div class="media-left"> <a href="#." class="thumb"> <img src="{{ 'item-img-1-2.jpg' | asset_url }}" class="img-responsive" alt=""> </a> </div>
                <div class="media-body"> <a href="#." class="tittle">Funda Para Ebook 7" full HD</a> <span>250 x 1</span> </div>
              </li>
            {% endif %}
            <li class="btn-cart"> <a href="{{ routes.cart_url }}" class="btn-round">View Cart</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Nav -->
  <nav class="navbar ownmenu">
    <div class="container">
      <!-- Categories -->
      <div class="cate-lst"> <a data-toggle="collapse" class="cate-style" href="#cater-{{ section.id }}"><i class="fa fa-list-ul"></i> {{ section.settings.categories_label }} </a>
        <div class="cate-bar-in">
          <div id="cater-{{ section.id }}" class="collapse">
            <ul>
              {% if categories_menu != blank and categories_menu.links.size > 0 %}
                {% for link in categories_menu.links %}
                  {% if link.links != blank and link.links.size > 0 %}
                    <li class="sub-menu">
                      <a href="{{ link.url }}"> {{ link.title | escape }}</a>
                      <ul>
                        {% for child_link in link.links %}
                          <li><a href="{{ child_link.url }}"> {{ child_link.title | escape }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li><a href="{{ link.url }}"> {{ link.title | escape }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Responsive Btn -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
      </div>

      <!-- NAV -->
      <div class="collapse navbar-collapse" id="nav-open-btn">
        <ul class="nav">
          {% if main_menu != blank and main_menu.links.size > 0 %}
            {% for link in main_menu.links %}
              <li class="{% if link.links != blank and link.links.size > 0 %}dropdown {% endif %}{% if link.active %}active{% endif %}">
                <a href="{{ link.url }}" {% if link.links != blank and link.links.size > 0 %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{ link.title | escape }}</a>
                {% if link.links != blank and link.links.size > 0 %}
                  <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                    {% for child_link in link.links %}
                      {% if child_link.links != blank and child_link.links.size > 0 %}
                        <li class="dropdown-submenu">
                          <a href="{{ child_link.url }}">{{ child_link.title | escape }}</a>
                          <ul class="dropdown-menu animated-2s fadeInRight">
                            {% for grandchild_link in child_link.links %}
                              <li><a href="{{ grandchild_link.url }}">{{ grandchild_link.title | escape }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li><a href="{{ child_link.url }}">{{ child_link.title | escape }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>

      <!-- NAV RIGHT -->
      <div class="nav-right"> </div>
    </div>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "top_message",
      "label": "Top message",
      "default": "Welcome to SmartTech center!"
    },
    {
      "type": "link_list",
      "id": "top_links_menu",
      "label": "Top links menu"
    },
    {
      "type": "link_list",
      "id": "categories_menu",
      "label": "Categories menu"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main navigation menu"
    },
    {
      "type": "text",
      "id": "categories_label",
      "label": "Categories label",
      "default": "Our Categories"
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "Search placeholder",
      "default": "Search entire store here..."
    },
    {
      "type": "text",
      "id": "cart_label",
      "label": "Cart label",
      "default": "My Cart"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
