    <!-- Clients img -->
    <section class="light-gry-bg clients-img">
      <div class="container">
        <ul>
          <li><img src="{{ 'c-img-1.png' | asset_url }}" alt=""></li>
          <li><img src="{{ 'c-img-2.png' | asset_url }}" alt=""></li>
          <li><img src="{{ 'c-img-3.png' | asset_url }}" alt=""></li>
          <li><img src="{{ 'c-img-4.png' | asset_url }}" alt=""></li>
          <li><img src="{{ 'c-img-5.png' | asset_url }}" alt=""></li>
        </ul>
      </div>
    </section>
    
{% schema %}
{
  "name": "Logo List",
  "settings": [],
  "presets": [
    {
      "name": "Logo List"
    }
  ]
}
{% endschema %}
