    <!-- Top Selling Week -->
    <section class="padding-bottom-60 padding-top-60">
      <div class="container"> 
        
        <!-- heading -->
        <div class="heading">
          <h2>Top Selling of the Week</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-6"> 
            
            <!-- Items -->
            <div class="item-col-2"> 
              
              <!-- Product -->
              <div class="product">
                <article> <img class="img-responsive" src="{{ 'item-img-1-6.jpg' | asset_url }}" alt=""> <span class="sale-tag">-25%</span> 
                  
                  <!-- Content --> 
                  <span class="tag">Tablets</span> <a href="#." class="tittle">Mp3 Sumergible Deportivo Slim Con 8GB</a> 
                  <!-- Reviews -->
                  <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="margin-left-10">5 Review(s)</span></p>
                  <div class="price">$350.00 <span>$200.00</span></div>
                  <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
              </div>
              
              <!-- Product -->
              <div class="product">
                <article> <img class="img-responsive" src="{{ 'item-img-1-7.jpg' | asset_url }}" alt=""> 
                  <!-- Content --> 
                  <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart Watch M26 Touch Bluetooh </a> 
                  <!-- Reviews -->
                  <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                  <div class="price">$350.00</div>
                  <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
              </div>
              
              <!-- Product -->
              <div class="product">
                <article> <img class="img-responsive" src="{{ 'item-img-1-8.jpg' | asset_url }}" alt=""> <span class="new-tag">New</span> 
                  
                  <!-- Content --> 
                  <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico Bluetooth Con Air Mouse</a> 
                  <!-- Reviews -->
                  <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                  <div class="price">$350.00</div>
                  <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
              </div>
              
              <!-- Product -->
              <div class="product">
                <article> <img class="img-responsive" src="{{ 'item-img-1-10.jpg' | asset_url }}" alt=""> 
                  <!-- Content --> 
                  <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart Watch M26 Touch Bluetooh </a> 
                  <!-- Reviews -->
                  <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                  <div class="price">$350.00</div>
                  <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
              </div>
            </div>
          </div>
          
          <!-- Big Product -->
          <div class="col-md-6">
            <div class="product">
              <article> 
                <!-- Slider Thumb -->
                <div class="thumb-slider">
                  <ul class="slides">
                    <li data-thumb="{{ 'item-img-1-6.jpg' | asset_url }}"> <img src="{{ 'item-img-1-6.jpg' | asset_url }}" alt=""> </li>
                    <li data-thumb="{{ 'item-img-1-7.jpg' | asset_url }}"> <img src="{{ 'item-img-1-7.jpg' | asset_url }}" alt=""> </li>
                    <li data-thumb="{{ 'item-img-1-15.jpg' | asset_url }}"> <img src="{{ 'item-img-1-15.jpg' | asset_url }}" alt=""> </li>
                    <li data-thumb="{{ 'item-img-1-2.jpg' | asset_url }}"> <img src="{{ 'item-img-1-2.jpg' | asset_url }}" alt=""> </li>
                  </ul>
                </div>
                
                <!-- Content --> 
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart Watch M26 Touch Bluetooh </a> 
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% schema %}
{
  "name": "Top Selling Showcase",
  "settings": [],
  "presets": [
    {
      "name": "Top Selling Showcase"
    }
  ]
}
{% endschema %}
