<section class="padding-top-60 padding-bottom-60">
  <div class="container">
    <div class="heading"><h2>{{ blog.title }}</h2><hr></div>
    {% paginate blog.articles by 10 %}
      <div class="row">
        {% for article in blog.articles %}
          <div class="col-md-4">
            <article>
              <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
              <p><small>{{ article.published_at | date: "%B %d, %Y" }}</small></p>
              {% if article.image %}
                <p><a href="{{ article.url }}">{{ article.image | image_url: width: 900 | image_tag: loading: 'lazy', alt: article.title }}</a></p>
              {% endif %}
              <p>{{ article.excerpt_or_content | strip_html | truncate: 140 }}</p>
            </article>
          </div>
        {% else %}
          <p>No articles found.</p>
        {% endfor %}
      </div>
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>
</section>
